---
layout: default
---

<div class="home">

    <h1 class="page-heading">POSTS</h1>

    <ul class="post-list">
        {% for post in paginator.posts %}
        <li>
            <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <div class="post-info">
                <ul class="tag-list">
                    {%for tag in post.tags%}
                    <li><a href="{{ site.baseurl }}/tags/#{{ tag }}">{{tag}}</a></li>
                    {% endfor %}
                </ul>
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            </div>

            <p>{{ post.excerpt | markdownify}}</p>

        </li>
        {% endfor %}
    </ul>

    {% include pagination.html %}

    {% include disqus.html %}

</div>
