<header class="site-header">

    <div class="wrapper">

        <nav class="site-nav">
            <a class="site-logo" href="{{ site.baseurl }}/">
                <img src="{{ "/img/isux-logo.png" | prepend: site.baseurl }}" alt="">
            </a>

            <ul class="trigger">
                <li><a href="{{ site.baseurl }}/">首页</a></li>
                <li><a href="{{ site.baseurl }}/category/">分类</a></li>
                <li><a href="{{ site.baseurl }}/about/">关于我</a></li>
            </ul>
        </nav>
        <div class="contact-list">
            <ul class="trigger">
                <li><a href="{{ site.github }}" class="fa fa-github"></a></li>
                <li><a href="{{ site.weibo }}" class="fa fa-weibo"></a></li>
                <li><a href="mailto:{{ site.email }}" class="fa fa-envelope"></a></li>
            </ul>
        </div>

    </div>

</header>
